version: "3.8"

services:
  api:
    build: .
    ports:
      - "3001:3000"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_DATABASE: coworking_db



volumes:
  mysql_data:
